@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  header {
    height: 100wh;
    background: black;
    display: flex;
  }

  .smirk{
    cursor: pointer;
  }

  .slogan{
    cursor: pointer;
  }

.lupa{
  position: relative;
  left: 180px;
  cursor: pointer;
}

  .mano{
    padding-left: 33vw;
    margin-top: 20px;
    width: 40px;
    height: 20px;
    margin-left:100px;
  }

  .silhueta {
    position: relative;
    right: 80px;
    top: 7px;
    width: 30px;
    height: 30px;
    margin-left: 270px;
    margin-top:10px;
    cursor:pointer
  }


  .carrinho{
    width: 30px;
    height: 30px;
    margin-top: 17px;
    margin-left: 50px;
    cursor: pointer;
  } 

  .money{
    position: absolute;
    right: 49px;
    top: 1px;
    color: white;
    font-size: 15px;
  }

  .din{
    position: absolute;
    right: 7px;
    top: 1px;
    margin: 27px;
    height:100px;
    color: white;
    font-size: 15px;
  }

  h3{
    position: absolute;
    right: 190px;
    top: -12px;
    margin: 27px;
    height:100px;
    color: white;
    font-size: 12px;
  }

  .conect{
      position: absolute;
      right: 198px;
      top: 3px;
      margin: 27px;
      height:100px;
      color: white;
      font-size: 12px;
      cursor: pointer;
  }
  .conect:hover{
    text-decoration: underline;
  }

  .bando{
    font-family: 'Playpen Sans', cursive;
    position: absolute;
      right: 510px;
      top: 3px;
      margin: 11px;
      height:100px;
      color: white;
      font-size: 19px;
      cursor:pointer;
  }

  .bando:hover{
    text-decoration: underline;
  }

  .tenis{
    font-family: 'Playpen Sans', cursive;
    position: absolute;
      right: 640px;
      top: 3px;
      margin: 11px;
      height:100px;
      color: white;
      font-size: 19px;
      cursor:pointer;
  }

  .tenis:hover{
    text-decoration: underline;
  }

  .shop{
    font-family: 'Playpen Sans', cursive;
    position: absolute;
      right: 790px;
      top: 3px;
      margin: 11px;
      height:100px;
      color: white;
      font-size: 19px;
      cursor:pointer;
  }

  .shop:hover{
    text-decoration: underline;
  }

  .novas{
    font-family: 'Playpen Sans', cursive;
    position: absolute;
      right: 900px;
      top: 3px;
      margin: 11px;
      height:100px;
      color: white;
      font-size: 19px;
      cursor:pointer;
  }

  .novas:hover{
    text-decoration: underline;
  }

  .vector{
    margin: 40px;
    position: relative;
    right: 40px;
    width: 100%;
  }

  .check{
    font-family: 'Merriweather', serif;
    position: relative;
    left: 70vw;
  }
  
  .mãe{
    display: flex;
    background-color: aqua;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
  }

  .method{
    margin-left: 100px;
    font-family: 'Paytone One', sans-serif;
    font-size: medium;
  }


  .calculos{
    width: 500px;
    background-color: #FFFFFF;
    border-radius: 1px;
    box-shadow: 0px 0px 1px 3px #000000;
    height: 300px;
  }

  .yellow{
    width: 500px;
    height: 50px;
    background-color: #FFCD29;
    display: flex;
    border-radius: 4px;
    box-shadow: 0px 0px 1px 3px #000000;
  }


  .piquis{
    display: flex;
   flex-direction: row;
   height: 100px;
   align-items: center;
  }

  .pix1{
padding: 20px;

  }

  .pix2{
    flex-direction: column ;
  }
  .pix2 h2{
    font-size: 20px;
  }
  .pix2 h4{
    font-size: 12px;
  }

  .debito{
    display: flex;
    flex-direction: row;
    height: 100px;
    align-items: center;
  }

  .debito1{
    padding: 20px;

  }


  .debito2 h2{
    font-size: 20px;
  }

  .credito{
    display: flex;
    flex-direction: row;
    height: 100px;
    align-items: center;
  }

  .credito1{
padding: 20px;
  }

  .credito2 h2{
    font-size: 20px;
  }

  .resumo{
    width: 590px;
    height: 50px;
    display: flex;
    border-radius: 4px;
    box-shadow: 0px 0px 1px 3px #000000;
  }

  .rest{
    margin-left: 30px;
    font-size: 16px;
    font-family: 'Paytone One', sans-serif;
  }
  .edit{
    margin-left: 240px;
    font-family: 'Paytone One', sans-serif;
    font-size: 16px;
    cursor: pointer;
  }

  .edit:hover{
    text-decoration: underline;
  }

}